/*? GLOBAL */
/*! FONTS */
/** Roboto-Mono  */
/* @font-face {
  font-family: "Roboto-Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
} */
/** Fira_Sans  */
@font-face {
  font-family: "Fira-Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Fira-Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Fira-Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Bold.ttf");
  font-weight: 700;
}
/** Noto_Sans_Japanese */
@font-face {
  font-family: "Noto-Sans-Japanese";
  src: url("/fonts/Noto_Sans_Japanese/NotoSansJP-VariableFont_wght.ttf");
}
/*! CLASSES */
.divContGen {
  background-color: var(--dark);
  /* height: 100px; */
}

.contWidth {
  width: 95%;
  margin: 2% auto;
}

.flexCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*?SECTIONS */
/**Introduction */
.pageIntroduction {
  width: 90%;
  display: block;
  margin: auto;
  text-align: center;
}

.pageIntroduction h3 {
  font-size: 2em;
}

/**DROPDOWN */
.dropDownSelectionSection {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0% 10%;
}

.buttonStyle {
  /* STYLES */
  color: var(--primary);
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 2px 5px 0px var(--primary);
  /* font-weight: 500; */

  /*DISPLAY */
  margin: 0% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 2%;
  max-height: 30px;
}

.buttonStyle:hover {
  background-color: var(--primary);
  color: var(--light);
  cursor: pointer;
  transition: 800ms;
}

.buttonStyle svg {
  width: 40px;
  height: 20px;
}

.dropDownMenu ul {
  list-style: none;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 0%;
  font-family: "Noto-Sans-Japanese";
}

.dropDownMenu ul li span {
  display: inline-block;
  padding: 10px;
  position: relative;
  cursor: pointer;
  color: var(--light);
}

.dropDownMenu ul li svg {
  width: 20px;
}

/*? showProjects */

#showProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
}

.contProject {
  /* STYLES */
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px var(--primary);
  margin: 5% 2%;
  font-family: "Fira-Sans";
  font-weight: 400;
  font-size: 1.2em;
  color: var(--dark);
}

.contProject .flexCont {
  justify-content: start !important;
  flex-wrap: wrap;
}

.contProject h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0%;
  padding: 2%;
}

.contProject p {
  margin: 0%;
  padding: 2%;
  font-size: 1em;
  font-weight: 100;
}

.contProject button {
  color: var(--light);
  background-color: var(--primary);
  font-weight: 600;
  font-size: 0.8em;
  border-radius: 3px;
  border: 0px solid var(--light);
  box-shadow: 1px 1px 3px 0px var(--dark);
  /*DISPLAY */
  margin: 2% 2%;
}

.contProject button:hover {
  background-color: var(--primary);
  color: var(--light);
  cursor: pointer;
  transition: 400ms;
}
