/*? GLOBAL */
/*! FONTS */
/** Roboto-Mono  */
@font-face {
  font-family: "Roboto-Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}
/** Fira_Sans  */
@font-face {
  font-family: "Fira-Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Fira-Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Fira-Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Bold.ttf");
  font-weight: 700;
}
/** Noto_Sans_Japanese */
@font-face {
  font-family: "Noto-Sans-Japanese";
  src: url("/fonts/Noto_Sans_Japanese/NotoSansJP-VariableFont_wght.ttf");
}
/*! CLASSES */
.divContGen {
  background-color: var(--dark);
  /* height: 100px; */
}

.contWidth {
  width: 95%;
  margin: 2% auto;
}

.flexCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page_StarPage01 {
  padding: 10% 0%;
  background-color: #f9f7f7;
}
/*? SECCTIONS */
/** WHAT SHOULD I DO */
.recommendedToSee h2 {
  text-align: center;
}

.tabShow {
  /* width: 90%; */
  border-radius: 10px;
  /* border: 1px solid var(--dark); */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  margin: 10% auto;
}

.tabShow img {
  width: 30%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabShow h4 {
  font-family: "Fira-Sans";
  color: var(--dark);
  font-size: 1.5em;
  margin: 2% 10%;
  width: 100%;
}

.tabShow:hover {
  transition: 700ms;
  transform: scale(1.1);
}

/** ABOUT ME */
.aboutMeContent .contWidth {
  border-radius: 10px;
  /* padding: 5%; */
}

.aboutMeContent .flexCont {
  flex-wrap: wrap;
}

.aboutMeContent h3 {
  font-family: "Noto-Sans-Japanese";
  color: var(--light);
  text-align: center;
  font-size: 2em;
  margin: 2%;
  width: 100%;
}

.aboutMeContent p {
  font-family: "Roboto-Mono";
  color: var(--light);
  text-align: justify;
  font-size: 1em;
  /* margin: 2%; */
  width: 90%;
  display: block;
  margin: auto;
}

/** ICONS */
#infoLinks {
  margin-top: 10%;
}

#iconsInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 2%; */
}

#iconsInfo svg {
  max-height: 90px;
  fill: white;
  width: 20%;
}
