/*? GLOBAL */
/*! FONTS */
/** Roboto-Mono  */
@font-face {
  font-family: "Roboto-Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}
/** Noto_Sans_Japanese */
@font-face {
  font-family: "Noto-Sans-Japanese";
  src: url("/fonts/Noto_Sans_Japanese/NotoSansJP-VariableFont_wght.ttf");
}
/*! CLASSES */
.divContGen {
  background-color: var(--dark);
}

.contWidth {
  width: 80%;
  margin: 0% auto;
}

/*? SECTIONS */
/**HEADER */
.backgroundHeader {
  background: rgb(249, 247, 247);
  background: linear-gradient(
    315deg,
    rgba(249, 247, 247, 1) 10%,
    rgba(178, 164, 255, 1) 100%
  );
}

.textHeader {
  /* color: var(--light); */
  text-align: center;
  font-family: "Noto-Sans-Japanese";
  padding-top: 15%;
  color: var(--dark);
}

.textHeader span {
  color: #645caa;
}

.textHeader img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.textHeader svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.textHeader h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

.textHeader h3 {
  font-weight: 300;
  margin-top: 2px;
}

.textHeader p {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 2px;
}

/** NAV */
.lineNav {
  width: 100%;
  height: 2px;
  background-color: var(--light);
  /* margin-top: 5%; */
}

.selected {
  color: #645caa !important;
  font-weight: 600 !important;
}
/* QUIT THE SCROLLBAR */
.navShow::-webkit-scrollbar {
  display: none;
}

.navShow {
  /* QUIT THE SCROLLBAR */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Make the animation of the navbar */
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  overflow: auto;
}

.navShow ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0px 10px;
}

.navShow ul li {
  display: inline-block;
  margin-right: 20px;
}

.navShow ul li a {
  text-decoration: none;
  color: var(--dark);
  font-family: "Roboto-Mono";
  font-size: 1.2em;
  font-weight: 300;
}

@media (min-width: 660px) {
  /*? HEADER */
  /** TEXT */
  .textHeader img {
    width: 150px;
    height: 150px;
  }

  .textHeader h1 {
    font-size: 3em;
  }

  .textHeader h3 {
    font-size: 1.5em;
  }

  .textHeader p {
    font-size: 1em;
  }

  /** NAV */
  /*! QUIT THE NAV ANIMATION */
  .navShow ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navShow ul li {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  /*? HEADER */
  /** TEXT */
  .textHeader {
    padding-top: 10%;
  }

  .textHeader img {
    width: 150px;
    height: 150px;
  }

  .textHeader h1 {
    font-size: 4em;
  }

  .textHeader h3 {
    font-size: 2em;
  }

  .textHeader p {
    font-size: 1.2em;
  }

  /** NAV */
  /*! QUIT THE NAV ANIMATION */
  .navShow ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navShow ul li {
    font-size: 1.5em;
    padding: 0% 1%;
  }
}
